
  * {
    margin: 0;
    padding: 0;
   font-family: 'Montserrat';
}

:root {
    --primary-color: #161947;  
    --secondary-color: #f4f4f4; 
}


/* ========================================================================== */
/* NAVBAR */
/* ========================================================================== */


body {
    margin: 0;
    font-family: 'Montserrat';
    background-image: url("space.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size:cover;
  }
  
  /* header */
  
  .header {
    background-color:#161947;
    width: 100%;
    height: 80px;
  }

  .name {
  color: #f4f4f4;
  font-size: 30px;
  margin-left: 20px;
  display: block;
  float: left;
  margin-top: 20px;
  }
 
  .header ul {
    margin: 0;
    padding: 0;
    list-style: none;
    overflow: hidden;
  }
  
  .header li a {
    display: block;
    padding: 20px 20px;
    margin top: 20px;
    margin-right: 30px;
    text-decoration: none;
    float: right;
    color: var(--secondary-color);
  }


  .box {
   margin-top: 200px;
   margin-right: 200px;
   float: right;
    width: 300px;
    height: 300px;
    border: 2px solid white;
    color: white;
    padding: 50px;
    text-align: center;
    position: relative;
  }
  .text {
    font-size: 25px;
  }
  
  .text2 {
    font-size: 15px;
  }
  .button {
    font-family: "Montserrat";
    font-weight: bold;
    padding: 5px;
  }


/* ========================================================================== */
/* FOOTER */
/* ========================================================================== */

#footer{
  margin-top: 800px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
  background-color: var(--primary-color);

}
.footer-head{
  color: white;
  font-size: 28px;
}
#footer a{
  color:#f4f4f4;
}
.text-footer{
  color: #f4f4f4;
}
.email{
  color: #f4f4f4;
}
.place{
  color:#f4f4f4;
}
.phone{
  color:#f4f4f4 ;
}
h2{
  text-align: center;
}
.social{
  text-align: center;
}
.content{
  text-align: center;
}
.copyright{
  text-align: center;
  font-size: 12px;
  color: #f4f4f4;
}
.copyright p{
  color: #f4f4f4;
}



@media screen and (max-width:700px) {

  .box{
    width: 50%;
    height: fit-content;
    position: static; 
    margin: auto;
     margin-left: 75px;
     margin-right: 50px;
     padding: 50px;
     margin-top: 50px;
  }
}


