* {
    margin: 0;
    padding: 0;
} 
 
:root {
        --primary-color: white;
        --secondary-color:black;
        --tertiary-color: gray;
        background-image: url(ocean.gif); 
        background-position: center;
        background-repeat: no-repeat;
        background-size:cover;
        font-family: 'Lato', sans-serif;
}
 
 
 /*------NAVBAR------*/
 
 .logoimg {
     margin-top: 10px;
     margin-left: 10px;
 }

  .opennav {
      float: right;
      color: var(--primary-color);
      margin-right: 10px;
      
  }

 .overlay {
    height: 100%;
    width: 0;
    position: fixed;
    z-index: 1;
    top: 0;
    right: 0;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    overflow-x: hidden;
    transition: 0.5s;
  }
  
  .overlay-content {
    position: relative;
    top: 25%;
    width: 100%;
    text-align: center;
    margin-top: 30px;
  }
  
  .overlay a {
    padding: 8px;
    text-decoration: none;
    font-size: 36px;
    color: #818181;
    display: block;
    transition: 0.3s;
  }
  
  .overlay a:hover, .overlay a:focus {
    color: #f1f1f1;
  }
  
  .overlay .closebtn {
    position: absolute;
    top: 20px;
    right: 45px;
    font-size: 60px;
    
  }
 
/*-----Index----*/
  .conth {
    margin-top: 100px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
   
  }
 
  .conth h1 {
    font-weight: bold;
    color:var(--primary-color);
    text-align: center;
    font-size: 40px;
    margin-top: 40px;
  }
  
  .conth p {
    color: var(--primary-color);
    text-align: justify;
    font-size: 20px;
  }
  .button {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  text-align: center;
  font: 'Lato';
  }
  /*----- About----*/
  .headingD {
    color: var(--primary-color);
    text-align: center;
  }
  .contp {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
    text-align: justify;
    color: var(--primary-color);
  }
 
  .contp p {
    color: var(--primary-color);
  }
 
  .meimg {
    width: 300px;
    height: 300px;
    margin: 35px;
  }
  
 /*-----Projects----*/

  .infop {
    margin-top: 60px;
    margin-bottom: 30px;
    margin-left: 40px;
    margin-right: 40px;
    align-content: center;
    text-align: justify;
    color: var(--primary-color);
  } 
 .headingW{
    color: var(--primary-color);
    margin: 20px;
    text-align: center;
  }
 .flex-container {
  display: column;
  justify-content: center;
  margin: 10px;
  padding: 30px;
  color: var(--primary-color);
 }
 .headingM {
   color: var(--primary-color);
 }
 .flex-container2 {
 color: white;
 }
 
 .flex-container2 {
   color: var(--primary-color);
   display: column;
   justify-content: center;
   margin-left: 15;
   padding: 30px;
   text-align:center;
 }
 
 
 
 /*------FOOTER------*/
 #footer{
  margin-top: 500px;
  position: relative;
  padding-top: 20px;
  padding-bottom: 20px;
  bottom: 0;
  width: 100%;
  background-color: var(--secondary-color);
 
}
.footer-head{
  color: white;
  font-size: 28px;
}
#footer a{
  color:#f4f4f4;
}
.text-footer{
  color: #f4f4f4;
}
.email{
  color: #f4f4f4;
}
.place{
  color:#f4f4f4;
}
.phone{
  color:#f4f4f4 ;
}
h2{
  text-align: center;
}
.social{
  text-align: center;
}
.content{
  text-align: center;
}
.copyright{
  text-align: center;
  font-size: 12px;
  color: #f4f4f4;
}
.copyright p{
  color: #f4f4f4;
}
 
 
@media only screen and (min-width: 600px) {
 
  /*-----Index----*/
  .conth h1 {
    font-size: 80px;
  }
  .conth p {
    font-size: 40px;
    margin: 40;
    text-align: center;
  }
 
/*-----Projects----*/
  .infop {
    font-size: 30px;
    margin: 40;
    text-align: center;
  }
  .flex-container{
    display: flex;
    float: center;
    padding-top: 0px;
    
  }
  .flex-container3 {
    float: center;
  }

   /*----- About----*/
.aboutD{
  display: block;
  margin-top: 30px;


}
.headingD {
    font-size: 35px;
}
  .meimg {
    float: right;
    margin-right: 150px;
    margin top: 200px;
  }
  .contp {
      font-size: 25px;
  }
}
 
 
